

body {
  background-color: #ffffff; /* make this color whatever you want */
  font-family: Georgia, "Times New Roman", serif;  /* change font if wanted*/
  text-align: center;}
 .wrapper {
   width: 720px;
   margin: 0px auto;}
 .header {
   margin: 40px 0px 20px 0px;}
 .entry {
   width: 220px;
   float: left;
   margin: 10px;
   height: 198px;
   background-repeat: no-repeat;
   background-position: center center;}
 figure {
   display: block;
   width: 202px;
   height: 170px;
   background-color: #d3d3d3;  /* make this color whatever you want */
   padding: 9px;
   text-align: left;}
 figure img {
   width: 200px;
   height: 150px;
   background-position: center center;
   object-fit: cover;
   border: 1px solid #000000;}
 figcaption {
   padding-left: 20px;
   background-repeat: no-repeat;}
